# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.ZombieRunner.iml
# Datasource local storage ignored files
/../../../../../../../../:\Unity\projects\3DCourseGameDevTv\ZombieRunner\.idea\.idea.ZombieRunner\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
